# Ignore the compiled classes
/target

# Ignore the codes
/codes

# Ignore the log files
/logs

# Ignore saved searches
/searches

# Ignore the titles database
/Titles.xml

# Ignore the persistent settings file
config.properties

/watches

/.idea/dictionaries

# Ignore libraries
/Libraries
/libraries